<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 600px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Uma recuperação de senha foi solicitada no app GoBarber.</p>
  <p>Clique no link abaixo para continuar.</p>
  <p>
    <a href={{link}}>Resetar minha senha</a>
  </p>
  <p>Se não foi você, não precisa fazer nada.</p>
  <p>
    Obrigado!
    <br>
    <strong>Equipe GoBarber</strong>
  </p>
</div>
